div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  }

  .bedroom {
    background-color: #2B7188;
  }

  .livingroom {
    background-color: #C9AC82;
  }

  .kitchen {
    background-color: #F1A73B;
  }

.bath {
  background-color: #728831;
}

.oven {
  background-color: #C94716;
}

.sink {
  background-color: #935613;
}

h3 {
  color: white
}



























